@use "@/colors.module.scss" as colors;

.success {
  color: colors.$success-color;
  display: flex;
  gap: 5%;
  align-items: center;
}

.secondary {
  color: colors.$secondary-color;
  display: flex;
  gap: 5%;
  align-items: center;
}

.primary {
  color: colors.$primary-color;
  display: flex;
  gap: 5%;
  align-items: center;
}

.danger {
  color: colors.$danger-color;
  display: flex;
  gap: 5%;
  align-items: center;
}

.status_container i {
  font-size: x-large;
}
