@import "users.css";

div.main-container-style {
    margin-left: 15%;
    margin-right: 15%;
}

.formError{
    color: red;
}

.login-container{
    display: flex;
    height: 20%;
    gap: 2%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.error-container{
    height: 10px;
}
