@use "@/colors.module.scss" as colors;

/* navbarStyles.css */

.nav-container {
  max-width: 100vw;
  background: cyanDark; /* Assuming cyanDark is a variable or valid color value */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav-title {
  font-family: "Righteous", cursive;
  font-size: 38px;
  margin: 0 0 0 14px;
}

.nav-sections-container {
  display: flex;
  height: 70px;
  align-items: center;
  margin-left: 48px;
}

.nav-section-item {
  font-weight: 500;
  list-style-type: none;
  margin-right: 40px;
  font-size: 16px;
}

.nav-section-item.active {
  font-weight: 700;
}

.logoImg {
  transition: opacity 0.3s;
  width: 10em;
  max-height: 36px;
}

.avatar_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular__landscape {
  border: solid 3px lightgray;
  display: flex;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.item_dropdown {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  margin: 0 0 0 14px;
  gap: 20px;
  height: 50px;
}

.item_dropdown:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu_dropdown {
  background-color: #1c4c96 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  --bs-dropdown-link-hover-bg: none;
}

.dropdown_text {
  display: flex;
  align-items: center;
}

.main_component {
  margin: 2% 10% 2% 10%;
  padding: 2% 2% 2% 2%;
  height: fit-content;
  border-radius: 12px;
  background-color: white;
}

.main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color_header {
  color: colors.$secondary-color !important;
}
