@import "../base/elements.css";

#main-header-row > hr {
    margin: 0;
}

#report-content-container {
    padding: 1em 3em;
}

#report-users-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1em;
}

#users-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2em;
}

.user-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5em;
}

.user-container .user-image {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#report-arrow-container {
    width: 50%;
}

#report-arrow-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#report-arrow-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

#report-arrow-draw {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#report-arrow-draw #report-arrow-line {
    border-top: 1px solid #FFA216;
    width: 100%;
}

#report-arrow-draw #report-arrow-head {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FFA216;
}
