@use "@/colors.module.scss" as colors;

.picker_style{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.propValue {
  color: colors.$text-color;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.rating {
  @extend .propValue;
  color: colors.$secondary-color;
  font-size: 2rem;
}
