@import "../base/elements.css";

.travel-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D6F5FF;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 2% 0 2%;
    margin-bottom: 2%;
    width: 380px;
    height: 170px;
}
.travel-card:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}
.travel-card:active{
    transform: scale(0.95);
    transition: ease-in-out 0.1s;
}
.card-link{
    text-decoration: none;
    color: black;
}
.location-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7%;
    margin-top: 7%;
}

.data-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7%;
    margin-top: 7%;
}

.data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.address-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 170px;
}

.vertical-dotted-line {
    display: flex;
    border-left: 3px dotted black;
    position: relative;
    height: 25px;
    margin-bottom: 9px;
}

.icon-container{
    display: flex;
    width: fit-content;
    min-width: 28px;
    align-items: center;
    justify-content: center;
}

.not-wrapp{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}