@use "@/colors.module.scss" as colors;

.mainContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  aspect-ratio: 4/1;
  width: 30%;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 30%;
  padding: 1rem 1.5rem;
  background-color: colors.$primary-color;
  border-radius: 12px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.formContainer button {
  margin-left: auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
  align-items: center;
}

.emailContainer,
.passwordContainer,
.errorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  align-items: start;
}

.passwordContainer:has(.showButton) input:active,
.passwordContainer:has(.showButton) input:focus {
  z-index: 0;
}

.passwordContainer .showButton,
.passwordContainer .showButton:hover,
.passwordContainer .showButton:active,
.passwordContainer .showButton:focus {
  background-color: white;
  color: colors.$text-color;
  border: inherit;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showButton {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.showButton:hover {
  opacity: 0.7;
}

.rememberContainer {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: center;
  width: 100%;
}

.primaryFooterContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.primaryFooterContainer > * {
  text-align: center;
}

.footerContainer > * {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
  align-items: center;
}

@media (min-width: 1400px) {
  .mainContainer {
    row-gap: 3rem;
  }

  .logoContainer {
    width: 20%;
  }

  .primaryContainer {
    width: 20%;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    row-gap: 1rem;
  }

  .logoContainer {
    width: 40%;
  }

  .primaryContainer {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    row-gap: 0.5rem;
  }

  .logoContainer {
    width: 60%;
  }

  .primaryContainer {
    width: 60%;
  }
}
