@use "@/colors.module.scss" as colors;

.carInfoContainer {
  background-color: colors.$primary-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.carInfoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}
