@import "../base/elements.css";

#custom-errors-container > .error-row > span {
    max-width: 100%;
}

#custom-errors-container:not(:has(span)) {
    display: none;
}

#origin-city-selector, #destination-city-selector {
    width: 100%;
}


.error-container:not(:has(span)) {
    display: none;
}

.error-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5em;
    margin-bottom: -0.5em;
}

.error-row:not(:has(span)) {
    display: none;
}

.error-item {
    width: 48%;
}

.error-item:not(:has(span)) {
    display: none;
}

.error-item > * {
    font-size: 0.9rem;
}

.error-item > i {
    margin-right: 0.2em;
}

.error-item > span {
    flex-grow: 1;
    word-break: break-word;
    max-width: 49%;
    font-weight: 500;
}

.error-row > .right-item {
    margin-left: auto;
}

.route-filter .error-row > .error-item {
    max-width: 45%;
}

.date-filter .error-row {
    margin-bottom: 0.1em;
}

.price-filter .error-row {
    justify-content: flex-start;
}

.price-filter .error-row > .error-item {
    max-width: 45%;
}

#custom-errors-container .error-item {
    width: 100%;
}

#form-style {
    padding: 1em;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
}

#search-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5em;
    margin-bottom: 0;
}

#search-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

#search-tabs > li {
    flex-grow: 1;
    flex-wrap: nowrap;
}

#search-tabs a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    width: 100%;
    cursor: pointer;
}

#two-way-search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.5em;
}

#swap-cities {
    padding: 0.3em;
    margin-bottom: 0.1em;
}

.route-filter, .date-filter, .price-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5em;
}

.title-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5em;
}

#route-input-row {
    margin-top: -0.5em;
    align-items: flex-end;
}

#route-input-row > div > span {
    font-size: 0.8rem;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;
}

.input-row:has(span) {
    justify-content: flex-start;
}

.input-row:has(div#last-date-picker) {
    max-width: 49%;
}

#day-repeat-container {
    padding: 0 0 0.2em 0.5em;
}

#day-repeat-container * {
    font-size: 0.8rem;
}

#last-date-button:disabled {
    border-color: transparent;
}

.title-row * {
    margin-bottom: 0;
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.2em;
    margin-bottom: 0;
}

label.form-check-label {
    font-weight: bold;
    margin-bottom: 0;
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-button-container > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25em;
}

.search-button-container *, .h6 {
    margin-bottom: 0;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.time-container {
    margin-bottom: 0;
}

/* Remove arrows from number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
