@import "/resources/css/base/elements.css";

#main-header-row > hr {
    margin: 0;
}

#trip-route-container {
    margin: 1.5em 0;
}

#trip-detail-container, #footer-container {
    padding: 0 1em;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 2em;
    margin-top: 3em;
}

#price-container > div:has(span.text) {
    min-width: fit-content;
}

#price-container > div:not(:has(span.text)) {
    max-width: fit-content;
}

#price-container > div:has(span.text) > span.text {
    font-weight: normal;
}

#toast-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast {
    width: max-content;
}

.toast-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toast-header > button.btn-close {
    margin-left: 0;
    margin-right: 0;
}

.toast-body > span {
    font-weight: normal;
}
