@import "../base/elements.css";

#order-by-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    margin-bottom: 1em;
}

.dropdown-sort {
    top: 0 !important;
    width: 100%;
    padding: 4%;
    transform: inherit; !important;
}
#order-by-select .active{
    color: #FFA216 !important;
}
.sort-item {
    margin-left: 4px;
    margin-top: 5px;
    color: black;
}
.sort-item:hover {
    font-weight: bold;
}