@import "../base/elements.css";

.main-container {
    margin-bottom: 1rem;
}

.sub-detail{
    font-weight: lighter;
    font-style: italic;
}

.detail{
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.details-container hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #FFFFFF
}

.main-container {
    padding: 1em;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.title-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
}


.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1em;
    width: 100%;
}

.show-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.show-row-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    column-gap: 1em;
}

.driver-content, .car-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.show-row .ratings i, .show-row .ratings span {
    font-size: 0.8rem;
}

.show-row-content-passangers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.column-data-pass {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}

.show-content > .detail, .show-row > i {
    font-size: 0.9rem;
    display: flex;
}

.show-content > span:not(.detail) {
    margin-top: -0.2em;
    font-size: 0.7rem;
}

.detail-capitalize {
    text-transform: capitalize;
}

.title-row * {
    margin-bottom: 0;
}

.image-photo{
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.profile-link {
    text-decoration-line: underline;
    text-decoration-color: white;
}

.car-image {
    border-radius: 4px;
}



