@import "../base/elements.css";

#result-pagination {
    padding-right: 12px;
    margin-top: 1%;
}

#result-pagination ul {
    margin-bottom: 0;
}

#result-pagination a {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#result-pagination .disabled a {
    background-color: #B9B9B9 !important;
    opacity: 0.8;
}

.pagination-container{
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-link {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disabled{
    color: gray;
    opacity: 50%;
}

.page-item {
    --bs-pagination-active-border-color: #1C4C96;
}

.active {
    --bs-pagination-border-width: 2px;
}

.active span {
    font-weight: bold;
}
