@import "../base/elements.css";

#main-header-row > hr {
    margin: 0;
}

#trip-route-container {
    margin: 1.5em 0;
}

#trip-info-container {
    padding: 0 1em;
    margin-bottom: 1em;
}

.status-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#trip-info-container > .container {
    padding-left: 0;
    padding-right: 0;
}

.row-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trip-info-container .row {
    justify-content: space-between;
    align-items: flex-start;
}

.placeholder-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.placeholder-image img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 16px;
    object-fit: cover;
}

.show-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
}

#passenger-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}

.passenger-list{
    overflow-y: auto;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    margin-top: 0.3em;
    row-gap: 0.5em;
}

.individual-profile {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.individual-profile-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
}

.no-passengers-text{
    text-align: center;
}

.passenger-name-container > a > span {
    font-size: 1.2rem;
    text-decoration: underline;
}

.passenger-dates-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3em;
}

.passenger-dates-container > * {
    font-size: 0.7rem;
}
