@import "/resources/css/base/elements.css";

#main-header-row > hr {
    margin: 0;
}

#trip-route-container {
    margin: 1.5em 0;
}

#trip-info-container {
    padding: 0 1em;
    margin-bottom: 1em;
}

#trip-info-container > .container {
    padding-left: 0;
    padding-right: 0;
}

#trip-info-container .row {
    justify-content: space-between;
    align-items: flex-start;
}

.placeholder-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.placeholder-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
