@import "../base/elements.css";

.card-container {
    position: relative;
}

.card {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
    opacity: 1;
    transition: opacity 0.3s, box-shadow 0.3s;
    margin-bottom: 1em;
    margin-right: 2px;
    border: 2px solid #FFA216;
    z-index: 1;
}

.card-body {
    padding-bottom: 0.3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none !important;
}

#car-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0.2rem 0.2rem 0;
    flex: 1;
    position: relative;
}

#car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem 0 0 0;
}

#rating-container {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 10px 0 0;
    display: flex;
    flex-direction: column;
}

#rating-container .rating-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.7em;
    padding: 0 0.5em;
}

#rating-container #car-rating {
    align-items: baseline;
}

#rating-container #car-rating #car-rating-icon {
    margin-left: 2px;
}

#rating-container #car-rating > div:has(span) {
    padding-top: 0.3em;
}

#rating-container .rating-row i, #rating-container .rating-row span {
    font-size: 0.7rem;
}

.route-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.vertical-dotted-line {
    border-left: 3px dashed #FFA216;
    height: 2em;
    margin: -15px 0 5px 10px;
}

.route-info-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 1em;
}

.route-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.route-info-text span {
    margin-bottom: 0;
}

.route-info-text .text {
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: -5px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    margin-left: 6px;
    column-gap: 0.2em;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.3em;
    flex-grow: 1;
    flex-shrink: 1;
}

#footer-time-container {
    justify-content: center;
}

#footer-price-container {
    justify-content: flex-end;
}

.footer-container i {
    margin-bottom: 0;
    font-size: 0.7rem;
}

.footer-container span {
    font-size: 0.7rem;
}

.date-info-column span.italic-text {
    font-size: 0.6rem;
}

.date-info-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.date-info-column .text-capitalize {
    text-transform: capitalize;
}

.delete-trip-container {
    position: absolute;
    z-index: 2;
    right: -20px;
    top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.delete-trip-container form {
    margin: 0;
}

.delete-trip-container button {
    aspect-ratio: 1/1;
}

.bnt-review{
    display: flex;
    flex-direction: row;
}

.review-trip-container {
    position: absolute;
    z-index: 2;
    right: -20px;
    top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-dialog {
    max-width: fit-content !important;
}

.ratings{
    width: 100%;
}

.show-row-content {
    flex-direction: column;
}

.show-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
}

.driver-image-photo {
    height: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
