@import "/resources/css/base/elements.css";

#banner-container {
    background-image: linear-gradient(rgba(28,76,150,.4), rgba(213,227,247,.2)), url("../../images/landing/landing-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: fit-content;
    width: 100%;
    transform: scaleX(-1);
}

#banner-container > * {
    transform: scaleX(-1);
}

#banner-container > .container {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: none;
}

#banner-container .row {
    justify-content: space-between;
    padding: 2em 3em;
    column-gap: 2em;
}

#banner-text-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2em;
}

#banner-text-column .title {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0.3em;
}

#banner-text-column .title > .secondary-color {
    margin: 0 0.1em 0 0.3em;
}

#banner-text-column .subtitle {
    font-size: 1.2em;
    font-weight: 700;
}

@media (max-width: 992px) {
    #banner-search-column {
        display: flex;
        justify-content: center;
    }

    #banner-text-column > * {
        text-align: center;
    }
}

#trips-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1em;
}

#trips-container > .title {
    padding-left: 0.4em;
}

#intro-container > .intro-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2em;
}

#intro-container .image-container {
    max-width: 50%;
}

#intro-container .image-container > img {
    width: 100%;
    height: 100%;
    border: 1px solid #FFA216;
    border-radius: 14px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    aspect-ratio: 16/9;
    max-height: 10em;
}

#intro-container .text-container {
    flex: 1;
}

@media (max-width: 992px) {
    #intro-container > .intro-row {
        flex-direction: column;
        align-items: center;
    }

    #intro-container > .intro-row .image-container {
        margin-top: 1em;
    }
}
