@import "../base/elements.css";

#tutorial-container > .tutorial-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2em;
}

#tutorial-container .image-container {
    max-width: 22%;
}

#tutorial-container .image-container > img {
    width: 100%;
    height: 100%;
    border: 1px solid #FFA216;
    border-radius: 14px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    aspect-ratio: 16/9;
    max-height: 10em;
}

#tutorial-container .text-container {
    flex: 1;
}

@media (max-width: 992px) {
    #tutorial-container > .tutorial-row {
        flex-direction: column;
        align-items: center;
    }

    #tutorial-container > .tutorial-row .image-container {
        margin-top: 1em;
    }
}