@use "@/colors.module.scss" as colors;

#main-header-row > hr {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.text_black {
  color: black;
}

.reason_container {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.secondary_color {
  color: colors.$secondary-color;
}

.row_report {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  border-bottom: 2px gray solid;
  padding-bottom: 1.5em;
  padding-top: 1.5em;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  }
}

.report_empty {
  margin-top: 5%;
  gap: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info_profile_img {
  display: flex;
  width: 40%;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;

  .short_info_profile {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .inline_text {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.location_line {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  align-items: center;
  position: relative;

  .location_line_content {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .dotted_line {
    border-bottom: 2px dashed black;
    width: 100%;
  }
}

.image_photo_admin {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.trip_short_info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  flex-grow: 1;
}

.profiles_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 3;
  width: 70%;
}

.short_info_profile_right {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info_profile_img_right {
  display: flex;
  width: 40%;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;
  justify-content: end;
}
