.primary-color {
    color: #33475B;
}

.primary-bg-color {
    background-color: #33475B;
}

.button-color {
    color: #0C6FC0;
}

.button-color:hover {
    color: #33475B;
}

.button-bg-color {
    background-color: #0C6FC0;
}

.button-bg-color:hover {
    background-color: #33475B;
}

.container-color {
    color: #F4FFF8;
}

.container-bg-color {
    background-color: #F4FFF8;
}

.background-color {
    color: #D6F5FF;
}

.background-bg-color {
    background-color: #D6F5FF;
}

.text {
    background-color: transparent;
    color: #000000;
}

.light-text {
    background-color: transparent;
    color: #F4FFF8;
}

.placeholder-text {
    background-color: transparent;
    color: #6c757d;
}

.border {
    color: #000000;
}

.success-color {
    color: #4BAA84;
}

.success-bg-color {
    background-color: #4BAA84;
}

.danger {
    color: #dc3545;
}

.danger-bg-color {
    background-color: #dc3545;
}

.warning {
    color: #ffc107;
}

.warning-bg-color {
    background-color: #ffc107;
}

.info {
    color: #17a2b8;
}

.info-bg-color {
    background-color: #17a2b8;
}

