.body {
    background-color: #ffffff;
    color: #000000;
}

.text {
    background-color: transparent;
    color: #000000;
}

.placeholder-text {
    background-color: transparent;
    color: #6c757d;
}

.primary {
    background-color: #0072c6;
    color: #ffffff;
}

.secondary {
    background-color: #006837;
    color: #ffffff;
}

.tertiary {
    background-color: #cfe09d;
    color: #000000;
}

.emphasis {
    background-color: transparent;
    color: #ff9900;
}

.border {
    background-color: transparent;
    color: #000000;
}

.success {
    background-color: transparent;
    color: #28a745;
}

.danger {
    background-color: transparent;
    color: #dc3545;
}

.warning {
    background-color: transparent;
    color: #ffc107;
}

.info {
    background-color: transparent;
    color: #17a2b8;
}

.light-background {
    background-color: #f8f9fa;
    color: #000000;
}

.light-text {
    background-color: transparent;
    color: #f8f9fa;
}

.light-accent {
    background-color: transparent;
    color: #007bff;
}

.dark-background {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-text {
    background-color: transparent;
    color: #343a40;
}

.dark-accent {
    background-color: transparent;
    color: #28a745;
}

