.h1-size {
    font-size: 4.5vw;
}

.h2-size {
    font-size: 4vw;
}

.h3-size {
    font-size: 3.5vw;
}

.h4-size {
    font-size: 3vw;
}

.h5-size {
    font-size: 2.5vw;
}

.h6-size {
    font-size: 2vw;
}

.p-size {
    font-size: 1.5vw;
}
