<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de reserva de viaje</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div>
    <div class="email-container">
        <div>
            <a th:href="@{{baseUrl}/register/confirm(token=${token}, baseUrl=${baseUrl})}">
                <button th:text="HOLA"></button>
            </a>
        </div>
    </div>
</div>
</body>
</html>