.success-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.success-container * {
    margin-bottom: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1em;
    width: 100%;
}

.car-container, .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.car-title-container, .contact-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
    width: 100%;
    margin: 2% 0 1% 0;
}

.car-title-container *, .contact-title-container * {
    margin-bottom: 0;
}

.car-info-container, .contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    width: 100%;
}

.car-info-container *, .contact-info-container * {
    margin-bottom: 0;
}

.car-info-item.item-end *, .contact-info-item.item-end * {
    display: flex;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 3% 0 0 0;
}