.info-container {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    width: 90%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
