.text {
    color: #000000 !important;
}

.italic-text {
    color: #5F5E5E !important;
}

.light-text {
    color: #FFFFFF !important;
}

.placeholder-text {
    background-color: transparent;
    color: #707070 !important;
}

.primary-color {
    color: #1C4C96 !important;
}

.primary-bg-color {
    background-color: #1C4C96 !important;
}

.secondary-color {
    color: #FFA216 !important;
}

.secondary-bg-color {
    background-color: #FFA216 !important;
}

.button-color {
    background-color: #FFA216 !important;
}

.button-color:hover, .button-color:active, .button-color:focus {
    background-color: #E7931A !important;
}

.form-check-input:checked {
    background-color: #FFA216 !important;
    border-color: #FFA216 !important;
}

.container-color {
    background-color: #FFFFFF !important;
}

.background-color {
    background-color: #D5E3F7 !important;
}

.placeholder-image-color {
    background-color: #B9B9B9 !important;
}

.placeholder-image-icon-color {
    color: #707070 !important;
}

.border {
    color: #000000 !important;
}

.success {
    color: #4BAA84 !important;
}

.success-bg-color {
    background-color: #4BAA84 !important;
}

.danger {
    color: #dc3545 !important;
}

.danger-bg-color {
    background-color: #dc3545 !important;
}

.warning {
    color: #ffc107 !important;
}

.warning-bg-color {
    background-color: #ffc107 !important;
}

.error-code {
    color: #8b8b8b !important;
}

.error-code-bg-color {
    background-color: #8b8b8b !important;
}

.info {
    color: #17a2b8 !important;
}

.info-bg-color {
    background-color: #17a2b8 !important;
}

