.h1-size{
    font-size: 4.5rem;
}

.h2-size{
    font-size: 3.5rem;
}

.h3-size{
    font-size: 3rem;
}

.h4-size{
    font-size: 2.5rem;
}

.h5-size{
    font-size: 1.25rem;
}

.h6-size{
    font-size: 1rem;
}

.p-size{
    font-size: 1rem;
}
