@import "../base/elements.css";
@import "../trip-detail/trip-detail.css";

#button-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: end;
    column-gap: 1em;
}

#button-container > form {
    margin-bottom: 0;
}

