@import "../base/elements.css";
@import "../trip-detail/trip-detail.css";

body {
    position: relative;
}

#passengers-list-container hr {
    margin-top: 0;
}

#show-passengers-list-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: block;
    transition: display 0.5s ease-in-out;
}

#show-passengers-list-button.hidden {
    display: none;
}

#show-passengers-list-button > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    padding: 0.7em 1.5em;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: end;
    column-gap: 1em;
}

#button-container > form {
    margin-bottom: 0;
}

.no-seats-left-container {
    margin-top: 0.3em;
}

.hidden-input {
    display: none;
}
.passenger-container {
    padding: 1em;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}
.trip-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding-top: 2%;
    align-items: flex-start;
    padding-bottom: 2%;
}
.trip-info{
    max-width: 40%;
    flex-grow: 1;
}
.trip-passengers{
    max-width: 40%;
    flex-grow: 1;
}
.info-container{
    padding-top: 2%;
}

.profile-link {
    text-decoration-line: underline;
    text-decoration-color: white;
}

.image-photo{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.container-flex{
    display: flex;
    justify-content: center;
}

.list-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    width: 85%;
}

.row-data-pass{
    display: flex;
    flex-direction: row;
}

.review-empty-container{
    display: flex;
    min-height: 70px;
    padding: 1.5% 1% 1% 1%;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    justify-content: center;
}

.form-bn-class{
    margin-bottom: 0;
}

.row-info{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    margin-right: 5px;
}

.show-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    margin-right: 3px;
}
.passenger-list{
    overflow-y: auto;
    max-height: 260px;
}

.individual-profile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.placeholder-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-section{
    display: flex;
    gap: 3%;
}

.little-btn{
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}
.no-passengers-text{
    text-align: center;
}

.modal-dialog {
    max-width: fit-content !important;
}

.dates {
    margin: 0;
}

.end-line{
    display: flex;
    margin-top: -1.5em;
    justify-content: end;
    flex-direction: row;
}

.trip-state-container{
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
    padding-top: 2%;
}

.trip-state-container > h3{
    min-width: max-content;
}