
.review-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1em;
}

.modal-body form {
    margin-bottom: 0;
}

.error-item {
    margin: 0.2em 0;
}

.error-item:not(:has(span)) {
    display: none;
}

.error-item > i {
    margin-right: 0.2em;
}
