@import "../base/elements.css";
@import "../trip-detail/trip-detail.css";

#button-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: end;
    column-gap: 1em;
}

#button-container > form {
    margin-bottom: 0;
}


.trip-state-container{
    align-self: start;
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
    padding-top: 2%;
}

.trip-state-container > h3{
    min-width: max-content;
}