@import "review-list-modal.css";

#report-list-modal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
}

#report-list-modal-container > a {
    cursor: pointer;
}

#report-form-modals .modal-body {
    padding: 0;
}

#report-published-container {
    margin-bottom: 1em;
}