.review-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}

.review-list-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin: 1em 0;
}

.review-list-item {
    position: relative;
}

.review-list-item > button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}

.review-list-item-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.review-list-item-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3em;
}

.review-list-item-date > * {
    font-size: 0.7rem;
}

.passenger-image {
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.disabled-text {
    position: absolute;
    right: 0;
}
