.feature-options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5em;
}

.feature-options-container.edit .btn-custom {
    cursor: pointer;
}

.btn-custom {
    background-color: #FFFFFF;
    color: #707070;
    border: 1px solid #707070;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
    font-weight: 500;
}

.btn-custom.active {
    background-color: #FFA216;
    color: #FFFFFF;
    border: 1px solid #FFA216;
}
