%toastHeader {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

%toastHeader > div {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  overflow: hidden;
}

%toastBody {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

%toastBody > * {
  font-size: 0.8rem;
}
