@import "../base/elements.css";
@import "users.css";
@import "../base/elements.css";

hr {
    margin: 1em 0;
}

hr#title-hr {
    margin-top: 0;
}

.full-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

div.main-container-style {
    margin-left: 35%;
    margin-right: 35%;
}

.error-container:not(:has(span)) {
    display: none;
}

.error-container span {
    font-weight: 500;
    margin-left: 5px;
}


.form-floating{
    width: 100%;
}

.create-container{
    display: flex;
    height: 20%;
    gap: 2%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-btn{
    width: 100%;
}

.favicon_container{
    display: flex;
    justify-content: center;
    max-height: 10%;
    width: 100%;
}

#img-container{
    display: flex;
    justify-content: center;
    width: 20%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#img-container:hover {
    opacity: 0.7;
}
