@import "../base/elements.css";

.form-style {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
}

.avatar-img{
    display: flex;
    justify-content: center;
}

.user-info-container{
    padding: 1em 1.5em;
    height: fit-content;
    min-width: 30%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.user-info-container-car{
    padding: 1em 1.5em;
    height: fit-content;
    width: 30%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}


.circular--square {
    border-radius: 50%;
}

.circular--landscape {
    border: solid 3px lightgray;
    display:inline-block;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
}

.circular--landscape-container {
    display:inline-block;
    position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
}

.circular--landscape img {
    width: 100%;
    height: 100%;
}

#user-name {
    text-align: center;
}

.hidden{
    display:none
}

.btn-group-vertical .btn + .btn {
  margin-top: 5px;
}

.btn-group-vertical .btn {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.rows {
    margin: inherit;
}

#image-label {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    z-index: 2;
}

#image-label:hover {
    opacity: 0.8;
}

#image-label > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#image-label > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#image-label > .overlay:hover {
    opacity: 1;
}

#image-label .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image-label i {
    font-size: 3rem;
}

#image-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  border-radius: 50%;
}

.edit-icon:hover {
  opacity: 1;
}

.edit-icon i {
  font-size: 48px;
}

.error-item:not(:has(span)) {
    display: none;
}

.hidden {
    display:none;
}

.edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5em;
}

