@import "../base/elements.css";

a {
    text-decoration: none !important;
}

.main-container {
    display: flex;
    margin: 3% 2% 3% 2%;
    max-width: none;
    gap: 2%;
}

.list-container{
    margin-bottom: 2%;
    padding: 1% 2% 1% 2%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.row-data{
    margin-bottom: 1%;
}


.list-properties-container{
    flex-grow: 2;
    max-width:65%;
}

h6{
    color: #6c757d;
}


.plus-btn{
    border-top: 2px solid #8b8b8b ;
    display: flex;
    align-items: center;
    padding: 1% 2% 1% 2%;
    justify-content: center;
    gap: 2%;
}

.data-content{
    border-top: 2px solid #8b8b8b ;
    display: flex;
    flex-wrap: wrap;
}

.add-card{
    display: flex;
    margin: 2% 2% 2% 2%;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    border: 1px dashed gray;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.add-content{
    justify-content: center;
}

.add-content:hover{
    opacity: 0.5;
}

.infoCar{
    width: 100%;
    padding: 0 2% 0 2%;
}

.btn-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(2.5rem + 2px);
    line-height: 1;
}

.form-floating>label {
    padding: 0.5rem 0.75rem;
}

.nav-justified-pills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.nav-justified-pills .nav-item {
  flex: 1;
  text-align: center;
}

.nav-justified-pills .nav-link {
  color: #FFA216;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin:auto;
  width:100%;
}

.nav-justified-pills .nav-link.active, .nav-justified-pills .nav-link:hover {
  color: #fff;
  background-color: #FFA216;
}

.nav-link:hover {
  opacity:0.8;
}
