.review-info-container {
    border-top: 2px solid #8b8b8b ;
    padding: 1.5% 1% 1% 1%;
}

.review-info-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
}

.rating-container {
    max-width: fit-content;
}

.review-info-content .review-info-comment {
    word-break: break-word;
    font-size: 1.2rem;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.date-container > span {
    font-size: 0.8rem;
}
