
#review-info-container{
    border-top: 2px solid #8b8b8b ;
    display: flex;
    min-height: 70px;
    padding: 1.5% 1% 1% 1%;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

#rating-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

#review-container .review-text {
    word-break: break-all;
}

#go-to-trip-container {
    margin-left: auto;
}

#go-to-trip-container button{
    min-width: max-content;
}
