@import "../base/elements.css";

a {
    text-decoration: none !important;
}

.card-info{
    border: 2px solid #8b8b8b;
    border-radius: 16px;
    display: flex;
    height: 170px;
    padding: 1.5% 1% 1% 1%;
    flex-direction: row;
    box-shadow: 0 7px 15px rgb(0 0 0 / 0.2);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-info:hover{
    opacity: 0.8;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);

}

.data-container{
    flex-grow: 4;
    width:50%;
}

.img-container{
    flex-grow: 1;
    padding: 1% 0 1% 0;
    max-height: inherit;
    align-content: center;
    border-radius: 20px;
    display: flex;
    /*object-fit: cover;*/
    justify-content: center;
}

.icon-style, .title-style{
    font-size: 30px;
}

.route-container{
    display: flex;
    flex-direction: row;
    gap: 2%;
}


.location-line{
    height: 2.5vw;
    align-items: end;
    position: relative;
}

.location-line-content {
    position: absolute;
    bottom: 0;
}

.horizontal_dotted_line {
    border: 1px dashed;
    width: 100%;
    margin: auto;
}

.address-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.route-info-text{
    display: flex;
    flex-direction: column;
}

.align-right{
    text-align: right;
}

.extra-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.line-container{
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: center;
}

.car-container{
    object-fit: contain;
    max-width: 200px;
    border-radius: 20px;
}

.format_date{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.format_date .date-text {
    font-size: 0.9rem;
    margin-top: -0.5em;
}