$text-color: #000000;
$italic-text-color: #5f5e5e;
$light-text-color: #ffffff;
$placeholder-text-color: #707070;

$primary-color: #1c4c96;
$primary-color-dark: #133d7a;
$secondary-color: #ffa216;
$secondary-color-dark: #e7931a;

$background-color: #d5e3f7;
$container-color: #ffffff;
$border-color: #000000;

$success-color: #4baa84;
$danger-color: #ff4242;
$warning-color: #ffdd00;
$info-color: #17a2b8;
