@use "@/colors.module.scss" as colors;

.middle_content {
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.img_container {
  width: 42%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_style {
  width: -webkit-fill-available;
}
