@import "../base/elements.css";

.header-row {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: flex-start;

    column-gap: 3%;

    width: 100%;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
}

img {
    max-width: 150px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeholder-image-color {

    display: flex;

    align-items: center;

    justify-content: center;

    max-height: 100%;

    border-radius: 16px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    max-width: 100%

}

.title-container {

    margin-bottom: 1rem;

}

.my-container {

    margin-top: 2rem;

}

.logo {

    text-align: center;

}

.error{
    color: red;
}

.form-style {

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    row-gap: 1em;

    margin-bottom: 0;

}

.info-container {

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    justify-content: flex-start;

    row-gap: 0.5em;

}

.input-container {

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    justify-content: flex-start;

    padding-left: 4em;

    row-gap: 0.5em;

    max-width:50%

}

.container {


    align-items: center;

    display: flex;


    max-width: 40%;

}

.placeholder-image-color {

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100%;

    width: 100%;

    aspect-ratio: 1/1;

}

#car-info-image, .placeholder-image-color {

    border-radius: 6px;

}

i.placeholder-image-icon-color {

    font-size: 3rem;

}

.confirm-button-container {

    display: flex;

    flex-direction: row;

    justify-content: flex-end;

    margin-top: 5rem;

}

.confirm-button-container > button {

    display: flex;

    flex-direction: row;

    align-items: center;

    column-gap: 0.5em;

}

.confirm-button-container *, .h6 {

    margin-bottom: 0;

}