@import "../base/elements.css";

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1em;
    column-gap: 2em;
}

#trip-price-container {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.no-bold {
    font-weight: normal;
}

.trip-price-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1em;
    flex-wrap: wrap;
}

.items-to-end {
    justify-content: flex-end;
    padding-right: 0.3em;
    margin-top: -0.2em;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1350px) {
    #footer-container {
        display: block;
    }

    #button-container {
        margin-top: 1.5em;
        justify-content: space-between !important;
    }
}

@media (max-width: 800px) {
    #button-container button > *, #button-container a > * {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    #button-container {
        flex-direction: column !important;
        row-gap: 0.5em;
    }

    #button-container button {
        width: 100%;
    }
}
